@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 100%;
    list-style: none;
    background-color:#15161b;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

#back-to-top-btn{
    background-color: #15161b;
    position: fixed;
    bottom: 30px;
    right: 30px;
    color: #7a00ff;
    display: none;
    cursor: pointer;
    z-index: 1000;
    border-radius: 50%;
}

/* Support css */
.half-width{
    width: 50%;
}

.full-height{
    height: 100vh;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Navigation */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 1rem;
    padding: 1em;
}

.logo a{
    font-size: x-large;
    color: #7a00ff;
    font-weight: 600;
}

.nav-wrapper{
    width: 35%;
}

@media only screen and (max-width: 970px){
    .nav-wrapper{
        width: 45%;
    }
}

@media only screen and (max-width: 720px){
    .nav-wrapper{
        width: 55%;
    }
}

@media only screen and (max-width: 600px){
    .nav-wrapper{
        width: 65%;
    }
}

.nav-list{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    list-style: none;
}

.nav-item{
    box-sizing: border-box;
    color: rgba(255,255,255,0.5);
    padding: 4px;
    margin: 5px;
    font-weight: bold;
}

.nav-item:hover{
    color: #fff;
}


/* Home Container */
#home{
    min-height: 87vh;
    display: flex;
    margin: 0px 20px;
}

.home-container{
    max-width: 950px;
    min-height: 70vh;
    background-color: #202029;
    border-radius: 10px;
    display: flex;
}

.left-container{
    height: 100%;
}

.home-content-wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
}

.content-title{
    width: 90%;
    color: #fff;
    opacity: 0.8;

    font-weight: bold;
    font-size: xx-large;
}

.content-description{
    width: 90%;
    margin: 2rem 0;
    text-align: justify;
    color: rgba(255,255,255,0.5);
    font-size: large;
}

.get-started-btn{
    width: 135px;
    padding: 10px 25px;
    border-radius: 5px;
    background-color:#7a00ff ;
    color: #fff;
    font-weight: 500;
}

.right-container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-img-container{
    margin: 15px;
}

.dash-img{
    width: 420px;
    height: 300px;
    border-radius: 8px;
}

@media only screen and (max-width:920px){

    #home{
        margin: 0px;
        background-color: #202029;
    }

    .home-container{
        min-width: none;
        max-width: 100%;
        flex-direction: column-reverse;
        width: 100%;
    }

    .left-container{
        width: 80%;
    }

    .home-content-wrapper{
        padding: 10px 20px;
        min-height: 300px;
    }

    .right-container{
        width: 90%;
    }

    .home-img-container{
        margin-top: 60px;
        margin-bottom: 40px;
    }

    .dash-img{
        width: 70vw;
        height: auto;
        min-height: 30vh;
        border-radius: 8px;
    }

}

/* About Company */
#about{
    min-height: 100vh;
    flex-direction: column;
}
.about-container{
    width: 90vw;
    min-height: 80vh;
    margin: auto;
}

.about-left-container{
    color:rgba(255,255,255,0.5);
    padding: 20px;
    max-width: 750px;
}

.about-left-title{
    font-size: 28px;
    text-align: center;
    margin: 20px 20px;
}

.about-left-description{
    font-size: 18px;
    text-align: center;
    margin: 0px 20px;
}


.about-left-img{
    display: block;
    margin: 20px 20px;
    height: 280px;
    width: 90%;
    border-radius: 15px;
}

.about-right-container{

    color:rgba(255,255,255,0.5);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-right-info{
    display: flex;
    margin: 20px;
    max-width: 600px;
}

.about-right-details{
    min-width: 330px;
}

.about-right-info-title{
    padding: 15px 20px;
}

.about-right-info-details{
    padding: 5px 20px;
}

@media only screen and (max-width: 1335px){

    .about-container{
        flex-direction: column;
    }

    /* .about-left-container{
        width: 70%;
    } */
    
    /* .about-right-container{
        width: 80%;
    } */

    .about-right-details{
        width: auto;
        padding: 5px;
    }
}

@media only screen and (max-width: 745px){
    .about-right-info{
        flex-direction: column;
    }
}

/* Services */
#services{
    min-height: 100vh;
}

.service-wrapper{
    min-height: 70vh;
}

.service-cards-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 3rem;
}

@media only screen and (max-width: 1025px) {
    .service-cards-wrapper{
        grid-gap: 2rem;
    }
}

@media only screen and (max-width: 1005px) {
    .service-cards-wrapper{
        grid-gap: 1rem;
    }
}

@media only screen and (max-width: 950px) {
    .service-cards-wrapper{
        grid-template-columns: repeat(2,1fr);
        grid-gap: 2rem;
    }
}

@media only screen and (max-width: 650px) {
    .service-cards-wrapper{
        grid-template-columns: repeat(1,1fr);
        grid-gap: 2rem;
    }
}

.service-info-card{
    height: 200px; 
    width: 300px;  
    background-color: #202029;
    color:rgba(255,255,255,0.5);
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    transform: translateY(0px);
    transition: transform 0.3s ease;
}

.service-info-card:hover{
    transform: translateY(-10px);
}

.top-section{
    width: 100%;
    height: 40%;
    display: flex;
    margin-bottom: 10px;
}

.img-wrapper{
    display: inline-block;
    padding: 10px;
    margin-left: 10px;
    background-color: #fff;
    height: 70px;
    border-radius: 50%;

}

.top-section img{
    height: 50px;
    width: 50px;
}

.service-title{
    width: 100%;
    font-size: 26px;
    font-weight:700;
    color: rgba(255,255,255,0.7);
    text-align: left;
    margin-left: 20px;
}

.bottom-section{
    width: 100%;
    height: 60%;
}

.service-info{
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    padding-left: 30px;
}

.service-info span{
    padding: 5px 0px;
    margin-bottom: 10px;
    font-size: 18px;
}


/* Developers */
#developers{
    min-height: 100vh;
    margin-bottom: 20px;
}

.section-head{
    padding: 20px;
    margin-bottom: 30px 0px;
    text-align: center;
    color:rgba(255,255,255,0.5);
    font-size: x-large;
}

.cards-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 2rem;   
}


.card{
    height: 290px; 
    width: 250px;  
    background-color: #202029;
    color:rgba(255,255,255,0.5);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    transform: translateY(0px);
    transition: transform 0.3s ease;
}

.card:hover{
    transform:translateY(-10px);
}


.dev-pic{
    padding: 10px 0px;
    width: 100%;
    text-align: center;
}

.dev-pic img{
    height: 100px;
    border-radius: 50%;
    border: 2px solid #7a00ff;
    padding: 5px;
}

.dev-title{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    padding: 5px 0px;
}

.dev-city{
    text-align: center;
    font-size: 14px;
    padding: 5px 0px;
}

.dev-data{
    text-align: center;
    font-size: 18px;
}

.social-list ul{
    display: flex;
    justify-content: space-between;
    margin: 20px 50px;
    list-style: none;
}

.social-list ul a{
    color: rgba(255,255,255,0.5);
}

.social-list ul a:hover{
    color: #7a00ff;
}


@media only screen and (max-width: 846px){
    .cards-container{
        grid-template-columns: repeat(2,1fr);
    }
}

@media only screen and (max-width: 575px){
    .cards-container{
        grid-template-columns: repeat(1,1fr);
    }
}